<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Pacientes</title>
    <link href="/static/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/listado.js" defer></script>
</head>
<body>
    <div class="form-container">
        <div style="display: flex; flex-direction: row; align-items: center; gap: 1rem;">
          <div style="padding-block: 1rem;" onclick="history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-arrow-left">
              <path d="m12 19-7-7 7-7" />
              <path d="M19 12H5" />
            </svg>
          </div>
    
            <h1 class="form-header">
              <div>
                Listado de Pacientes
              </div>
            </h1>
          </div>

        <table id="pacientesTable" width="100%">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody id="pacientesTableBody">
            </tbody>
        </table>

        <div style="display: flex; justify-content: space-between; padding-top: 1rem;">
          <button class="button" id="prev">Anterior</button>
          <button class="button" id="next">Siguiente</button>
      </div>
    </div>
</body>
</html>